h1 {text-align: center;
color: orangered;
font-family: 'Times New Roman', Times, serif;
}
p {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px; 
    margin: 4px;
}
h2 {
    text-align: center;
    margin: 10px;
    margin-bottom: 2px;
    color: orange;
}
dl {
    text-align: justify;
    
}