p {
    color: black;
    margin: 3px;
    margin-left: 100px;
    font-weight: 100;
    text-align: justify;
    
}
h1 {
    color: black;
    text-align: left;
    margin: 0px;
    font-style: italic;
}
h2 {
    color: orangered;
    margin: 0px;
    margin-left: 30px;
    font-style: italic;
    
}
img {
    float: right;
    margin: 0 12px;
}